<!DOCTYPE html>
<html>
  <head>
    <title>Celp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag asset_path('logo1.png') %>
  </head>
  
  <script type="text/javascript">
  window.cafe1 = "<%= image_url('cafe1.jpg') %>";
  window.bar1 = '<%= image_url('bar1.jpg') %>'
  window.pizza1 = '<%= image_url('pizza1.jpg') %>'
  window.diner1 = '<%= image_url('diner1.jpg') %>'
  window.cronut1 = '<%= image_url('cronut1.jpg') %>'
  </script>
  
  

  <body>
    <%= yield %>
  </body>
</html>
