<!DOCTYPE html>
<html>
  <head>
    <title>Celp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag asset_path('logo1.png') %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    
    
 
  </head>
  
  <script type="text/javascript">
  window.cafe1 = "<%= image_url('cafe1.jpg') %>";
  window.bar1 = '<%= image_url('bar1.jpg') %>'
  window.pizza1 = '<%= image_url('pizza1.jpg') %>'
  window.diner1 = '<%= image_url('diner1.jpg') %>'
  window.cronut1 = '<%= image_url('cronut1.jpg') %>' 
  </script>
  
  

  <body>
    <%= yield %>
  </body>
</html>
